.cart {
    background: #000;
    display: none;
    padding: 10px;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 230px;
    color: var(--colorSecundario);
    text-transform: capitalize;
    font-size: 12px;
    height: 100vh;
  }
  
 
  .cartImg {
    width: 20px;
  }
 
  .cart li {
    border-bottom: 1px solid var(--colorPrimario);
    padding: 3px;
  }
  
  .cartFooter {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
  }
  
 .removeCartButton, .addCartButton {
    padding: 1px;
    border-radius: 2px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: var(--colorPrimario);
  }
  
  .cart-button {
    align-items: center;
    background: var(--colorPrimario);
    border-radius: 9999px;
    cursor: pointer;
    display: flex;
    height: 35px;
    justify-content: center;
    position: absolute;
    right: 8px;
    top: 8px;
    transition: all .3s ease;
    width: 35px;
    z-index: 9999;
    margin-right: 20px;
    padding: 22px;
  }
  
  .cart-button:hover {
    scale: 1.1;
  }
  
  .cart-button ~ input:checked ~ .cart {
    height: 100vh;
    display: block;

  }

  .productsCartImg{
    height: 70px;
  }


  .cartItemContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;

  }

  .cartItemDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cartItemShow{
    display: flex;
    align-items: center;

  }

  .details{
    font-size: 10px;
    text-align: center;
  }

  .nombreDetails{
    font-weight: bold;
    font-size: 11px;
  }


  .deleteFromCartImg{
    width: 20px;
    padding: 2px;
    background-color: var(--colorPrimario);
    border-radius: 2px;
  }

  .numberCartSpan{
    font-weight: bold;
    background-color: black;
    color: var(--colorPrimario);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 10px;
    width: 15px;
    height: 15px;
    padding: 2px;

  }