.imgUserDetails{
    width: 40px;
    border-radius: 10px;
    border: 1px solid black;
}

.divUserLogin{
    background-color: var(--colorSecundario);
    width: 180px;
    height: 80px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgUserContainer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.userName{
    font-size: 10px;
}

.userEmail{
    font-size: 8px;
}

.userDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2px;
}
.logoutBtnContainer{
    width: 80px;
}


.loadingUser{
    color: var(--colorSecundario);
}