.titleIndex{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        letter-spacing: 0.25em;
        text-shadow: #ff13a7 5px 2px 5px;
        font-size: 40px;
        margin: 20px;
}