 .titleIndex h1{
    
        font-family: "Qwitcher Grypen", cursive;    
        text-transform: lowercase;
        text-shadow: #ff13a7 5px 2px 5px;
        font-size: 100px;
        margin: 20px;
} 

