.headerContainer {
    display: flex;
    background-color: black;
    width: 100vw;
    height: 110px;
    padding: 25px;
    position: sticky;
    top: 0;
    z-index: 100;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.6);
}

.logoHeader {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid rgb(255, 19, 167, 0.7);
    /* animation-name: girar; */
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: inline-block;
    padding: 8px;
}


@keyframes girar {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

.logoHeader:hover {
    cursor: pointer;
}


.listHeader li {
    color: var(--colorPrimario);
    list-style: none;
    text-decoration: none;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 20px;
}


.liListHeader {
    margin: 8px;
}


.imgHeaderContainer {
    height: 35px;
    width: 35px;
    display: flex;
    background-color: var(--colorPrimario);
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 20%;
}

.imgHeaderContainer:hover {
    filter: drop-shadow(5px 5px 5px var(--colorPrimario));

}

.cartEmailHeader {
    width: 30px;
    padding: 5px;
}

.cartEmailHeader:hover {
    cursor: pointer;
}

.listHeaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerIcons {
    display: flex;
}

.activeLink li {
    background-color: var(--colorPrimario);
    padding: 4px;
    border-radius: 5px;
    color: black;
}


.btn,
.btn-secondary,
.dropdown-toggle {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black; 
    background-color: unset;
    border: unset;
    
}




.dropdown-item {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: var(--colorPrimario);
    width: 100px;
    border-radius: 5px;
    text-align: center;
}
.dropdown-item:hover {
    background-color: var(--colorSecundario);
} 
.dropdown:hover{
    background-color: unset;
}
.btn:hover{
    background-color: unset;
}


.perfumeIcon {
    width: 50px;
    filter: drop-shadow(1px 2px 1px var(--colorPrimario));
}

.btn-secondary{
    text-shadow: 1px 5px 1px var(--colorPrimario);
    filter: drop-shadow(1px 2px 1px var(--colorSecundario));
 
}

.show {
    text-align: right;
    font-weight: bolder;
    background-color: unset;
    border: unset;

}

.liDropdown{
    
    border: 1px solid black;
    border-radius: 5px;
    margin: 1px;
    font-size: 13px;
  
}



@media screen and (min-width: 320px) and (max-width: 500px) {
    .headerContainer {
        height: 160px;
    }

    .logoHeader {
        height: 120px;
        width: 120px;
    }

    .listHeaderContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .listHeader {
        display: flex;
        flex-direction: column;

    }

    .listHeader li {
        font-size: 10px;

    }

    .containerIcons {
        display: flex;
    }

    .liListHeader {
        padding: 2px;
    }

    .imgHeaderContainer {
        height: 25px;
        width: 25px;
    }

    .cartEmailHeader {
        width: 25px;
    }

    .activeLink li {
        padding: 4px;
        width: 55px;
    }
}