.footerContainer{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 80px;
    padding: 10px;
    bottom: 0;
    position: fixed;
    
}
.iconsFooter{
    display: flex;
    justify-content: space-between;

}

.footer1, .footer2{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.datos{
    font-size: 15px;
    color: var(--colorSecundario);
}
.logosFooter{
    width: 25px;
    height: 25px;
    margin: 5px;
}


.logosFooter:hover{
    cursor: pointer;
}

.pFooter{
    color: var(--colorPrimario);
}

.contact{
    display: flex;
    align-items: center;
}


@media screen and (min-width: 320px) and (max-width: 840px){
    .footerContainer{
        height: 160px;
    }
    .iconsFooter{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}