.footerDiv{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100px;
    padding: 10px;
    bottom: 0;
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.footerContainerInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px; 
}

.datos{
    font-size: 12px;
    color: var(--colorSecundario);
}
.logosFooter{
    width: 20px;
    height: 20px;
    margin: 5px;
}

.imgContainer{
    background-color: var(--colorPrimario);
    border-radius: 50%;
    padding: 2px;
    margin: 5px;
}


.logosFooter:hover{
    cursor: pointer;
}

.contact{
    display: flex;
    align-items: center;
}

.footerDiv{
    display: flex;
}

@media screen and (min-width: 320px) and (max-width: 840px){
    .datos{
        font-size: 10px;
        color: var(--colorSecundario);
    }
    .footerDiv{
        height: 160px;
    }
    .logosFooter{
        width: 15px;
        height: 15px;
        margin: 5px;
    }
    .email{
        width: 15px;
        height: 15px;
    }

    .footerContainerInfo{
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 15px;
    }

    .imgContainer{
        padding: unset;
    }

    .loginFooter{
        height: 150px;
        display: flex;
        align-items: flex-end;
    }
   
}